body {
    font-family: Arial, sans-serif;
    background-color: rgba(100, 148, 237, 0.55);
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a[aria-current="page"] {
    background-color: #555;
}

nav a:hover {
    background-color: #555;
}


.center {
    display: flex;
    height: 100vh;
    margin: 34px auto;
    padding: 34px;
    border: 2px solid ghostwhite;
    border-radius: 5px;
    background-color:darkcyan;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#banner {
    /* display: absolute; */
    /* gap: 34px; */
    text-align: center;
    /* margin: 100px auto; */
    /* padding: 100px; */
    font-size: 34px;
    /* border: 2px solid slateblue;           */
    
}


#clock {
    font-size: 1.5rem;
    background-color:coral;
    padding: 24px 100px;
    margin-top: 15px;
    border-radius: 15px;
}